/* PAGE WRAPPER */
.contact-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* BACKGROUND IMAGE */
.bg-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -1;
}

/* DARK OVERLAY (optional but recommended) */
.contact-page::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

/* MAIN CONTENT */
.contact-wrapper {
  position: relative;
  z-index: 1;

  width: 90%;
  max-width: 1000px;
background-color: #140944;
margin: 40px auto;
padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-radius: 20px;
  box-shadow: #1a0c17;
}

/* CARD STYLE */
.contact-card {
  background: #e791e5;
  padding: 25px 25px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* HEADINGS */
.contact-card h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

/* TEXT */
.contact-card p {
  color: #555;
}

/* INFO */
.info p {
  margin: 8px 0;
}

/* FORM */
.contact-form {
  margin-top: 10px;
  margin-right: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;

  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

/* BUTTON */
.contact-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;

  background: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #333;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}
