
/* APPBAR STRIP */
.ticker {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, rgb(13, 1, 57), #ff6a00);
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* MOVING TRACK */
.ticker-track {
  display: flex;
  width: max-content;
  animation: scroll 18s linear infinite;
}

/* EACH TEXT */
.ticker-item {
  color: white;
  font-size: 18px;
  padding: 0 40px;
  white-space: nowrap;
}

/* ANIMATION */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
