.custom-dropdown-default {
    padding: 6px;
    border-radius: 4px;
    border: 2px solid #aaa;
    font-size: 16px;
    background-color: white;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    width: 100%;
    background-color: rgb(241, 239, 239);
}

.custom-dropdown-default:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 4px rgba(30, 144, 255, 0.4);
}