/* default css of buttom */
.custom-button {
    background-color: #502706;
    border: none;
    border-radius: 4px;
    flex-shrink: 1;
    min-width: 100px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.custom-button:hover {
    background-color: #333;
    color: white;
}

.product-categories {
    background-color: #dfa87b;
    border: none;
    border-radius: 4px;
    flex-shrink: 1;
    min-width: 100px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 14px;

}

.product-categories:hover {
    background-color: #e65a09;
    color: white;
}